.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    /*text-align: center;
    width: 500px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
}

.infoContainer img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.infoContainer h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.leftParagraph {
    text-align: left;
}

.subrayado {
    font-weight: bold;
}

.minimalButton {
  background-color: transparent; /* Fondo transparente */
  border: 1px solid #000; /* Borde del botón */
  color: #000; /* Color del texto */
  padding: 8px 16px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 0.3s, color 0.3s, border 0.3s; /* Agregar transiciones suaves */

  /* Puedes agregar estilos adicionales, como bordes redondeados, márgenes, etc. */
}